<%- include('../partials/header.ejs')%>

<main class="login-form">
    <h2>Log In Existing User</h2>
    <form action = '/users/login' method = 'POST'>
        <label for="email">Email Address</label></td>
        <input type="email" id="email" name="email" required></td>
           
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
           
        <button type="submit">Log In</button> 
    </form>
</main>

<%- include('../partials/footer.ejs')%>