<%- include('./partials/header.ejs') %>

<main class="homepage-main">
    <div class="container">
        <img src="img/students_with_laptops.jpg" alt="Students in a classroom with laptops" class="main-image">
        <h2>Advancing Computing as a Science & Profession</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam nostrum blanditiis adipisci perferendis asperiores sequi provident facilis fugiat ipsum est? Libero nemo iure, deleniti ut odio voluptatem animi iste nam! Parturient penatibus odio libero morbi aptent velit maximus. Sollicitudin ex magnis torquent lobortis augue dictum fringilla accumsan penatibus. Parturient bibendum arcu volutpat facilisis fermentum varius curae tempor cras. Velit finibus nulla justo duis; mus placerat mus tincidunt.</p>
        <p>Suspendisse potenti. Vivamus eu turpis in libero scelerisque luctus. Donec lacinia, sapien at ullamcorper pretium, lacus sapien suscipit libero, id vulputate lorem justo et orci. Nunc enim accumsan ultrices eget lectus. Montes fermentum congue adipiscing turpis odio mus, sem ridiculus risus. Nec porttitor tempor semper sapien ad consectetur; curabitur nibh. Congue metus non eget magnis, magnis primis id auctor. Placerat per nam torquent urna nisi sit sapien taciti. Quis dignissim nulla pretium et ultricies nullam hendrerit fermentum. Morbi habitant per placerat, lacinia bibendum suspendisse posuere.</p>
        <p>Curabitur non nisi elit. Maecenas ultrices cursus risus, sit amet tempor lectus vehicula sed. Fusce tincidunt vehicula lacus, et facilisis urna vestibulum ut. Suscipit primis suscipit vulputate sem curabitur? Adis risus gravida elit ornare; tellus tellus pulvinar mattis. Curae congue sodales augue cursus fringilla nulla. Lorem sodales dapibus ridiculus cras pharetra interdum nostra et. Metus vestibulum mus dis; aenean consectetur varius lobortis.</p>
    </div>
</main>

<%- include('./partials/footer.ejs') %>