    <footer>
        <div class="legal-info">
            <p>Copyright © 2024. ACM UNC Charlotte Student Chapter.</p>
        </div>
        <div class="social-media">
            <a href="https://discord.gg/RnewKcr"><i class="fa-brands fa-discord"></i></a>
            <a href="https://ninerengage.charlotte.edu/organization/acm"><i class="fa-solid fa-globe"></i></a>
            <a href="https://x.com/AcmUncc"><i class="fa-brands fa-twitter"></i></a>
        </div>
    </footer>

</body>
</html>