<%- include('./partials/header.ejs')%>

<main class="error-main">
    <div class="container">
        <h2><%= error.status %> Error</h2>
        <p><%= error.message %> </p>
    </div>
</main>

<%- include('./partials/footer.ejs')%>